.container {
    display: grid;
    grid-template-rows: auto; 
    background-color: #3e2723;
    padding: 20px;
    border: 10px solid yellow;
    border-radius: 10px;
  }
  .item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  