#container {
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}
.container {
  border: 2px solid red;
  background-color: rgb(212, 207, 207);
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  #input {
    width: 80%;
    display: flex;
    .inputContainer {
      width: 70%;
      .input {
        display: flex;
        align-items: center;
        p {
          width: 25%;
          font-size: larger;
        }
        .inputCell {
          height: 40px;
          width: 70%;
          border-radius: 3px;
          border: none;
        }
      }
    }
    #calculation {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      .generality{
        width: 100%;
        // border: 2px black solid;
        display: flex;
        justify-content: space-around;
      }
      .container-operator {
        width: 50%;
        // border: 2px rgb(153, 73, 73) solid;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
    //   /* Hide the browser's default radio button */
    //   .container-operator input {
    //     position: absolute;
    //     opacity: 0;
    //     cursor: pointer;
    //   }
      
    //   /* Create a custom radio button */
    //   .checkmark {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 25px;
    //     width: 25px;
    //     background-color: #eee;
    //     border-radius: 50%;
    //   }
      
    //   /* On mouse-over, add a grey background color */
    //   .container-operator:hover input ~ .checkmark {
    //     background-color: #ccc;
    //   }
      
    //   /* When the radio button is checked, add a blue background */
    //   .container-operator input:checked ~ .checkmark {
    //     background-color: #2196F3;
    //   }
      
    //   /* Create the indicator (the dot/circle - hidden when not checked) */
    //   .checkmark:after {
    //     content: "";
    //     position: absolute;
    //     display: none;
    //   }
      
    //   /* Show the indicator (dot/circle) when checked */
    //   .container-operator input:checked ~ .checkmark:after {
    //     display: block;
    //   }
      
    //   /* Style the indicator (dot/circle) */
    //   .container-operator .checkmark:after {
    //        top: 9px;
    //       left: 9px;
    //       width: 8px;
    //       height: 8px;
    //       border-radius: 50%;
    //       background: white;
    //   }


    }
  }
}
