#container {
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}
.container {
  border: 2px solid red;
  background-color: rgb(212, 207, 207);
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  #input {
    width: 80%;
    display: flex;
    .inputContainer {
      width: 70%;
      .input {
        display: flex;
        align-items: center;
        p {
          width: 25%;
          font-size: larger;
        }
        .inputCell {
          height: 40px;
          width: 70%;
          border-radius: 3px;
          border: none;
        }
      }
    }
    #calculation {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    //   border: 2px green solid;

      .generality {
        width: 100%;
        // border: 2px black solid;
        display: flex;
        justify-content: space-around;
      }
      .container-operator {
        width: 50%;
        // border: 2px rgb(153, 73, 73) solid;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      #buttonClick {
        width: 80%;
        background-color: #4caf50; /* Green */
        // border: 3px solid black;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.4s;
      }
      #buttonClick:hover {
        background-color: #ffffff; /* Green */
        color: #4caf50;
      }
    }
  }

  #warning{
    width: 80%;
    // border: #4caf50 5px solid;
  }
}
