/* About me */
#about{
  display: flex;
  justify-content: center;
}
#about .about-container{
  display: flex;
  justify-content: center;
}

.about-total{
  margin-bottom: 36px;
}

.about-total h2{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.about-total p{
  font-size: 16px;
  color: #8a8fa3;
  line-height: 28px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.about-content{
  display: flex;
  margin: 10%;
  justify-content: space-around;
  align-items: center;
}

.about-content .about-header{
  text-align: left;
  width: 50%;
}

.about-content .about-header h5{
  font-size: 18px;
}

.about-content .about-header ul{
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }

.about-content .about-skill{
  flex: 1 0;
  padding: 1rem;
}

.about-content .about-skill .about-skill-item {
  display: flex;
  flex-direction:column-reverse;
  justify-content: space-between;
}

