/* About me */
#about{

}
#about .about-total{
  margin-bottom: 36px;
}

#about .about-total h2{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

#about .about-total p{
  font-size: 16px;
  color: #8a8fa3;
  line-height: 28px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

#about .about-content{
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  flex-flow: row wrap;
}

#about .about-content .about-header{
  flex: 1 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#about .about-content .about-header ul{
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }

#about .about-content .about-skill{
  flex: 1 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#about .about-content .about-skill .about-skill-item {
justify-content: space-between;
}

