@media screen and (max-width: 400px){

    /* Header Container */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-container {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .nav-logo {
    float: left;
  }
  .nav-link {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link ul {
    list-style-type: none;
    text-align: center;
  }
  .nav-link li {
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 40px;
  }
  
  .nav-link a{
    text-decoration: none;
  }
  
  .main-home-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .main-home-container h4 {
    text-align: left;
    color: #754ef9;
    font-size: 30px;
    padding-bottom: 15px;
  }
  
  .main-home-container h1 {
    text-align: left;
    color: #32333c;
    font-size: 60px;
    padding-bottom: 15px;
  }
  
  .main-home-container p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0;
    padding-bottom: 40px;
  }
  
  .work-button {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border: 3px solid #754ef9;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 8px 0 rgb(118 78 249 / 55%);
    background-color: #754ef9;
    text-transform: uppercase;
  }
  
  /* End of header */
  
  /* Begin of content */
  .content-container {
    grid-area: content;
    padding-top: 125px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
  }
  
  /* Begin of About */
  #about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #about-container .about-me {
    width: 75%;
  }
  
  #about-container .about-me .title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
    text-align: center;
  }
  
  #about-container .about-me p {
    text-align: center;
  }
  
  .about-skill-total {
    padding-top: 25px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .about-skill-total .about-skill {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  
  .about-skill-total .about-skill .about-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 15px;
    color: #32333c;
    margin: 0;
  }
  
  .about-skill-total .about-skill .about-para {
    padding-bottom: 15px;
    text-align: left;
  }
  
  .about-skill-total .about-skill .contact-infomation {
    list-style: none;
    column-count: 2;
    column-gap: 0;
  }
  
  .about-skill-total .about-skill li {
    display: inline-block;
    width: 100%;
  }
  
  .about-skill-total .about-skill .contact-infomation .info-icon {
    float: left;
    padding-right: 5px;
    color: #754ef9;
  }
  
  .about-skill-total .about-skill .contact-infomation .info-text {
    float: left;
  }
  
  .about-skill-total .skill-bar {
    width: 100%;
    display: flex;
  }
  
  .about-skill-total .skill-bar .skill-bar-location {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .about-skill-total
    .skill-bar
    .skill-bar-location
    .skill-bar-item
    .skill-bar-item-scroll {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: relative;
  }
  
  .about-skill-total
    .skill-bar
    .skill-bar-location
    .skill-bar-item
    .skill-bar-item-scroll
    .item-scroll-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background-color: #754ef9;
  }
  .skill-title {
    font-size: 16px;
    color: #32333c;
  }
  /* End of About */
  /* End of content */

}